@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@900&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
.bg{
  width: 100%;
  height:100vh;
  background-image: url("images/background.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.rc{
  height: 60px;
  width:60px;
}
.rcsc{
  height:80px;
  width:80px;
}
.bar{
  width:90%;
  height:15%;
  margin-top:4px;
  margin-left:20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.bubbles img{
  width:50px;
  animation: bubble 7s linear infinite;
}
.bubbles{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity:0;
  }
  50%{
    
    opacity:1;
  }
  70%{
    
    opacity:1;
  }
  100%{
    transform: translateY(-80vh);
    opacity:0;
  }
}
.bubbles img:nth-child(1){
  animation-delay: 2s;
  width:20px;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width:25px;
}
.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 3s;
}
.bubbles img:nth-child(6){
  animation-delay: 6s;
  width:20px;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
  width: 35px;
}
.afterHome{
  background-image: url(images/bg2.png);
  background-attachment: fixed;
}

.corepic{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.member h3{
  color:#027794;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-shadow: darksalmon;
  padding-top: 8%;
}
.member h4{
  color:lightskyblue;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 25px;
  text-shadow: darksalmon;
  text-align: center;
  opacity: 100%;
  padding-top: 30%;
  text-decoration-line: underline;
}
#right{
  float: right;
}
#left{
  float: left;
}
.corepic img{
  height: 150px;
  width: 150px;
  padding:15px 0;
}
#president{
  height: 150px;
  width: 150px;
  padding-bottom: 15px;
  padding-top: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bar h1{
  color:lightsteelblue;
  text-align: center;
  font-size: 44px;
  line-height: 0.8em;
  font-family:'Lato',sans-serif;
}
#sc{
  text-decoration-line: underline;
  text-decoration-style: double;
  font-size: 30px;
}
#rc{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  text-decoration-line: overline;
}
.container {
  max-width:500px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  padding-top: 160px;;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #80b8f8;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 300px;
  width:500px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}


.btn {
  display: inline-block;
  background: rgb(2, 113, 165);
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top:1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

footer{
  color:aliceblue;
  padding:8%;
  text-align: center;
}
footer img{
  height: 45px;
  width:45px;
  padding:5px;
}
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(136, 210, 245), 0 0 20px rgb(15, 175, 250),0 0 30px #6d9efa, 0 0 40px #0004e636, 0 0 50px #3f71fc, 0 0 60px #3f42fa, 0 0 70px #1700e6;
  }
  to {
    text-shadow: 0 0 20px rgb(160, 176, 247), 0 0 30px #3ac5fc, 0 0 40px #4dbeff, 0 0 50px #2311c7, 0 0 60px #ff4da6, 0 0 70px #4d9aff, 0 0 80px #4dc7ff;
  }
}

@media(max-width:600px) {
  .card {
    display: block;
  }
}
@media only screen and (min-width: 768px){
  .rc{
    height: 80px;
    width:80px;
  }
  .rcsc{
    height:100px;
    width:100px;
  }
  .bar{
    width:85%;
    height:15%;
    margin-top:15px;
    margin-left:90px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #80b8f8;
    margin-bottom: 2rem;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
    width: 600px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  
  .btn {
    display: inline-block;
    background: rgb(2, 113, 165);
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  .member h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-shadow: darksalmon;
    opacity: 80%;
  }
}
@media only screen and (max-width: 412px){
  .rc{
    height: 57px;
    width: 57px;
  }
  .rcsc{
    height:75px;
    width:75px;
  }
  .bar{
    width:90%;
    height:15%;
    margin-top:40px;
    margin-left:15px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  #sc{
    font-size: 35px;
  }
  #rc{
    font-size:medium;
  }
  .bg footer{
    margin-top:650px;
    margin-left:15px;
    padding:10px;
  }
  .bg footer img{
    height: 30px;
    width:30px;
  }
  .card img {
    height: 200px;
    width:355px;
  }
}
#fading {
  animation: fadein 4s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/**************************************************************************/

.num_of_mem {
  color: var(--color);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-left:20%;
  padding-top: 10%;
}


.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size:30px;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
