*{
    margin:0;
    padding:0;
}
body{
    background-image: url("../images/rcscbg3_archive.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 118, 167);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(2, 59, 92);
  }
  ul img{
      height:40px;
      width:40px;
      float: right;
      margin-right: 4%;
  }